<%- include("partials/header.ejs") %>

<section id="edit" class="container d-flex justify-content-center align-items-center">
    <form action="/edit/<%= post.id %>" method="POST" class="w-100">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" class="form-control" name="title" value="<%= post.title %>">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" id="author" class="form-control" name="author" value="<%= post.author %>">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Contents</label>
            <textarea class="form-control" id="content" rows="10" name="content"><%= post.content %></textarea>
        </div>
        <div class="text-end">
            <input class="btn btn-outline-primary" type="submit" value="Update">
        </div>
    </form>
</section>

<%- include("partials/footer.ejs") %>